body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

a, a:visited, a:focus, a:hover {
  text-decoration: none;
}

header {
  width: 800px;
  margin: 0 auto;
}

header a {
  font-size: 2rem;
}

main {
  width: 800px;
  margin: 0 auto;
}

.link-wrapper {
  display: flex;
  flex-direction: row;
}

footer {
  width: 800px;
  margin: 0 auto;
}